html, body {
    min-height: 100%;
    height: 100%;
}

.white {
    color: white;
}

.btn-user-admin-active {
    background-color: #3579f6;
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 6px;
}

.btn-user-admin-non-active {
    background-color: white;
    color: #3579f6;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 6px;
}

.den_item {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.den_item_left {
    padding-top: 20px;
    width: 300px;
}

.den_item_right {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #f8f9fa;
}

.div-table {
    background-color: white;
    border-radius: 3px;
    margin-top: 20px;
    border: 1px solid #c0c0c0;
}

.div-about {
    width: 100%;
    height: 50px;
    background-color: #f7f7f7;
    padding-left: 20px;
    padding-top: 13px;
    border-bottom: 1px solid #c0c0c0;
}

table th, table td {
    padding: 15px;
    border-top: 1px solid #c0c0c0;
}

table {
    background-color: dimgrey;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-user-admin-active:hover {
    color: white;
    text-decoration: none;
}

.btn-user-admin-non-active:hover {
    color: #3579f6;
    text-decoration: none;
}

.div-btn {
    display: flex;
    height: 40px;
    margin-top: 20px;
}

.btn-new {
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #c0c0c0;
    background-color: white;
    height: 100%;
}

.btn-new-non-active {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    border: 0;
    background-color: #f8f9fa;
}

.btn-new-non-active:hover {
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.a-btn-new {
    color: black;
    font-size: 14px;
}

.a-btn-new-non-active {
    color: #3579f6;
    font-size: 14px;
}

.a-btn-new:hover {
    text-decoration: none;
    color: black;
}

.a-btn-new-non-active:hover {
    text-decoration: none;
    color: #3579f6;
}

.p-label {
    margin-bottom: 0;
    font-size: 14px;
}

.input-form-create-user {
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
}

.btn-green {
    width: 150px;
    height: 50px;
    background-color: green;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: 0;
}

.den-pop-up {
    width: 100%;
    height: 100%;
    background-color: rgba(192,192,192,0.70);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.den-pop-up .den-pop-up-content {
    margin: 40px auto 0 auto;
    width: 400px;
    background-color: white;
    border-radius: 3px;
}

.div-top-bottom-update {
    width: 100%;
    height: 60px;
    padding: 20px 10px 20px 10px;
}

.btn-update {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: #3579f6;
    color: white;
    border: 0;
}

.div-form-update {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.a-btn-edit-delete {
    color: white;
}

.a-btn-edit-delete:hover {
    text-decoration: none;
    color: white;
}