<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>
    <style>table th, table td {
        padding: 15px;
    }</style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body style="background-color: linen">
<div th:align="center">
    <h1>Users</h1>
    <br/>
    <h4>You have a list of users.</h4>
    <h4>If you want to add, update or delete a user select the appropriate button below.</h4>
    <br/>
</div>

<div th:align="center">
    <table th:border="0">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>

        <tr th:each="us : ${users}" style="background-color: ivory">
            <td th:utext="${us.getName()}"></td>
            <td th:utext="${us.getLastName()}"></td>
            <td th:utext="${us.getAge()}"></td>
            <td><a th:href="@{user-update/{id}(id=${us.id})}">Edit</a></td>
            <td><a th:href="@{user-delete/{id}(id=${us.id})}">Delete</a></td>
        </tr>
    </table>
    <br/>
    <p><a href="/user-create">Create user</a></p>
    <p><a href="/logout">Logout</a></p>
</div>
</body>
</html>