<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <title>Admin page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
<header class="navbar navbar-dark bg-dark">
    <div>
        <span><b class="white" id="current-username"></b></span>
        <span class="white"> with roles: </span>
        <span class="white" id="user-role"></span>
    </div>
    <span><a class="navbar-text" style="text-decoration: none" href="/logout">Logout</a></span>
</header>
<div class="den_item">
    <div class="den_item_left">
        <a class="btn-user-admin-active" href="/admin">Admin</a>
        <a class="btn-user-admin-non-active" href="/user">User</a>
    </div>

    <div class="den_item_right">
        <h1>Admin panel</h1>
        <div class="div-btn">
            <button class="btn-new" id="btn-users-table" onclick="changeToTable()">Users table</button>
            <button class="btn-new-non-active" id="btn-new-user" onclick="changeToCreate()">New User</button>
        </div>

        <div class="div-table" style="margin-top: 0; border-top-left-radius: 0">
            <div class="div-about">
                <div style="float: left; margin-right: 50px">
                    <h5 id="h5-all">All users</h5>
                    <h5 class="el-hidden" id="h5-add">Add new user</h5>
                </div>

                <div style="float: right; margin-top: -4px" id="div-search">
                    <form>
                        <label>Search user by id</label>
                        <input type="number" placeholder="ID" id="id">
                        <input class="btn-green-get" type="button" value="GET" id="btn">
                    </form>
                </div>
            </div>
            <div class="content" id="div-table">
                <table id="userTable">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="el-hidden" style="padding: 20px 20px 20px 20px" align="center" id="div-create">
                <form style="width: 300px">
                    <div>
                        <p class="p-label"><b>First name</b></p>
                        <input class="input-form-create-user" type="text" id="name" placeholder="First name">
                        <p class="p-label"><b>Last name</b></p>
                        <input class="input-form-create-user" type="text" id="lastName" placeholder="Last name">
                        <p class="p-label"><b>Age</b></p>
                        <input class="input-form-create-user" type="number" id="age" placeholder="Age">
                        <p class="p-label"><b>Username</b></p>
                        <input class="input-form-create-user" type="text" id="username" placeholder="Username">
                        <p class="p-label"><b>Password</b></p>
                        <input class="input-form-create-user" type="password" id="password" placeholder="Password">
                        <p class="p-label"><b>Role</b></p>
                        <select style="width: 100%" size="2" id="selectRole" name="selectRole"></select>
                        <input class="btn-green" type="button" value="Add new user" onclick="addNewUser()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="den-pop-up" id="pop-up">
    <div class="den-pop-up-content" align="center">
        <div class="div-top-bottom-update" style="border-bottom: 1px solid #c0c0c0" align="right">
            <span style="float: left">Edit user</span>
            <p><a onclick="editClose()"><img src="/images/cross_closure.png" width="20" height="20" alt="Cancel"></a>
            </p>
        </div>
        <form>
            <div class="div-form-update">
                <p class="p-label"><b>ID</b></p>
                <input class="input-form-create-user" readonly type="number" id="id_update">
                <p class="p-label"><b>First name</b></p>
                <input class="input-form-create-user" type="text" id="name_update" placeholder="First name">
                <p class="p-label"><b>Last name</b></p>
                <input class="input-form-create-user" type="text" id="lastName_update" placeholder="Last name">
                <p class="p-label"><b>Age</b></p>
                <input class="input-form-create-user" type="number" id="age_update" placeholder="Age">
                <p class="p-label"><b>Username</b></p>
                <input class="input-form-create-user" type="text" id="username_update" placeholder="Username">
                <p class="p-label"><b>Password</b></p>
                <input class="input-form-create-user" type="password" id="password_update" placeholder="Password">
                <p class="p-label"><b>Role</b></p>
                <select size="2" style="width: 100%" name="role_edit" id="role_edit"></select>
            </div>
            <div class="div-top-bottom-update" style="border-top: 1px solid #c0c0c0; padding-top: 12px" align="right">
                <input class="btn-update" type="button" value="Cancel" onclick="editClose()"
                       style="background-color: dimgrey">
                <input class="btn-update" type="button" value="Edit" onclick="editUser()">
            </div>
        </form>
    </div>
</div>
<div class="den-pop-up" id="pop-up-delete">
    <div class="den-pop-up-content" align="center">
        <div class="div-top-bottom-update" style="border-bottom: 1px solid #c0c0c0" align="right">
            <span style="float: left" id="delete">Delete user</span>
            <p><a onclick="deleteClose()"><img src="/images/cross_closure.png" width="20" height="20" alt="Cancel"></a>
            </p>
        </div>
        <form>
            <div class="div-form-update">
                <p class="p-label"><b>ID</b></p>
                <input class="input-form-create-user" readonly type="text" id="id_delete">
                <p class="p-label"><b>First name</b></p>
                <input class="input-form-create-user" readonly type="text" id="name_delete">
                <p class="p-label"><b>Last name</b></p>
                <input class="input-form-create-user" readonly type="text" id="lastName_delete">
                <p class="p-label"><b>Age</b></p>
                <input class="input-form-create-user" readonly type="text" id="age_delete">
                <p class="p-label"><b>Username</b></p>
                <input class="input-form-create-user" readonly type="text" id="username_delete">
                <p class="p-label"><b>Password</b></p>
                <input class="input-form-create-user" readonly type="password" id="password_delete">
                <p class="p-label"><b>Role</b></p>
                <input class="input-form-create-user" readonly type="text" id="role_delete">
            </div>
            <div class="div-top-bottom-update" style="border-top: 1px solid #c0c0c0; padding-top: 12px" align="right">
                <input class="btn-update" type="button" value="Cancel" onclick="deleteClose()"
                       style="background-color: dimgrey">
                <input class="btn-update" style="background-color: #cb444a" type="button" value="Delete"
                       id="delete-button" onclick="deleteUser()">
            </div>
        </form>
    </div>
</div>
</body>
</html>