<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<header class="navbar navbar-dark bg-dark">
    <div>
        <span><b class="white" th:utext="${user.getUsername()}"></b></span>
        <span class="white"> with roles: </span>
        <span class="white" th:utext="${user.getRoles()}"></span>
    </div>
    <span><a class="navbar-text" href="/logout" style="text-decoration: none">Logout</a></span>
</header>
<div class="den_item">
    <div class="den_item_left">
        <a href="/admin" class="btn-user-admin-active">Admin</a>
        <a href="/user" class="btn-user-admin-non-active">User</a>
    </div>

    <div class="den_item_right">
        <h1>Admin panel</h1>
        <div class="div-btn">
            <button class="btn-new" style="border-bottom: 0"><a href="/admin" class="a-btn-new">Users table</a></button>
            <button class="btn-new-non-active"><a href="/user-create" class="a-btn-new-non-active">New User</a></button>
        </div>
        <div class="div-table" style="margin-top: 0; border-top-left-radius: 0">
            <div class="div-about">
                <h5>All users</h5>
            </div>
            <div style="padding: 20px 20px 40px 20px">
                <table>
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    <tr th:each="us : ${allUsers}">
                        <td th:utext="${us.getId()}">ID</td>
                        <td th:utext="${us.getName()}">First name</td>
                        <td th:utext="${us.getLastName()}">Last name</td>
                        <td th:utext="${us.getAge()}">Age</td>
                        <td th:utext="${us.getUsername()}">Username</td>
                        <td th:utext="${us.getRoles()}">Role</td>
                        <td>
                            <button class="btn-update" style="background-color: #4ba0b5"><a class="a-btn-edit-delete"
                                                                                            th:href="@{user-update/{id}(id=${us.id})}">Edit</a>
                            </button>
                        </td>
                        <td>
                            <button class="btn-update" style="background-color: #cb444a"><a class="a-btn-edit-delete"
                                                                                            th:href="@{user-delete/{id}(id=${us.id})}">Delete</a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="den-pop-up">
    <div class="den-pop-up-content" align="center">
        <div class="div-top-bottom-update" style="border-bottom: 1px solid #c0c0c0" align="right">
            <span style="float: left">Delete user</span>
            <p><a href="/admin"><img src="/images/cross_closure.png" width="20" height="20" alt="Cancel"></a></p>
        </div>
        <form action="#" th:action="@{/user-delete}" th:object="${users}" method="post">
            <div class="div-form-update">
                <p class="p-label"><b>ID</b></p>
                <input class="input-form-create-user" readonly type="number" th:field="*{id}" id="id">
                <p class="p-label"><b>First name</b></p>
                <input class="input-form-create-user" readonly type="text" th:field="*{name}" id="name"
                       placeholder="First name">
                <p class="p-label"><b>Last name</b></p>
                <input class="input-form-create-user" readonly type="text" th:field="*{lastName}" id="lastName"
                       placeholder="Last name">
                <p class="p-label"><b>Age</b></p>
                <input class="input-form-create-user" readonly type="number" th:field="*{age}" id="age"
                       placeholder="Age">
                <p class="p-label"><b>Username</b></p>
                <input class="input-form-create-user" readonly type="text" th:field="*{username}" id="username"
                       placeholder="Username">
                <p class="p-label"><b>Password</b></p>
                <input class="input-form-create-user" readonly type="password" th:field="*{password}" id="password"
                       placeholder="Password">
                <p class="p-label"><b>Role</b></p>
                <select size="2" style="width: 100%" name="role" disabled="disabled">
                    <option th:each="role : ${roles}"
                            th:utext="${role.getName()}">
                    </option>
                </select>
            </div>
            <div class="div-top-bottom-update" style="border-top: 1px solid #c0c0c0; padding-top: 12px" align="right">
                <input class="btn-update" type="button" value="Cancel" onclick="document.location.href='/admin'"
                       style="background-color: dimgrey">
                <input class="btn-update" style="background-color: #cb444a" type="submit" value="Delete">
            </div>
        </form>
    </div>
</div>
</body>
</html>