<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <title>User information</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
<header class="navbar navbar-dark bg-dark">
    <div>
        <span><b class="white" th:utext="${user.getUsername()}"></b></span>
        <span class="white"> with roles: </span>
        <span class="white" th:utext="${user.getRoles()}"></span>
    </div>
    <span><a class="navbar-text" href="/logout" style="text-decoration: none">Logout</a></span>
</header>
<div class="den_item">
    <div class="den_item_left">
        <a href="/admin" class="btn-user-admin-non-active" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
        <a href="/user" class="btn-user-admin-active">User</a>
    </div>

    <div class="den_item_right">
        <h1>User information-page</h1>
        <div class="div-table">
            <div class="div-about">
                <h5>About user</h5>
            </div>
            <div style="padding: 20px 20px 40px 20px">
                <table>
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Username</th>
                        <th>Role</th>
                    </tr>

                    <tr th:each="us : ${user}">
                        <td th:utext="${us.getId()}">ID</td>
                        <td th:utext="${us.getName()}">First name</td>
                        <td th:utext="${us.getLastName()}">Last name</td>
                        <td th:utext="${us.getAge()}">Age</td>
                        <td th:utext="${us.getUsername()}">Username</td>
                        <td th:utext="${us.getRoles()}">Role</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>